.ttl {
  color: #fff;
  font-size: 140px;
  height: 300px;
}
.anim_img {
  max-width: 52rem;
  width: 100%;
}

.cta_image {
  width: 33%;
  margin-bottom: 3rem;
}
.footer_mao-l {
  width: 24vw;
  max-width: 24rem;
  position: absolute;
  inset: auto auto 0% 1%;
  height: 431px;
  /* bottom: -18%; */
  z-index: 2;
}

.footer_mao-r {
  width: 24vw;
  max-width: 21rem;
  position: absolute;
  inset: auto 0% 0% auto;
  /* bottom: -37%; */
}
.community_image {
  border: none !important;
  border-radius: 1.25rem;
  width: 27.75rem;
}
.anim_img {
  max-width: 52rem;
  width: 100%;
  margin-bottom: -3%;
}
.cta_image {
  width: 33%;
  margin-bottom: -8rem !important;
  z-index: 2;
}
@media screen and (max-width: 1440px) {
  .footer_mao-l {
    width: 24vw;
    max-width: 24rem;
    position: absolute;
    inset: auto auto 0% 1%;
    height: 431px;
    /* bottom: -47%; */
    z-index: 2;
  }
  .ttl {
    color: #fff;
    font-size: 91px;
    height: auto;
  }

  .footer_mao-r {
    width: 24vw;
    max-width: 21rem;
    position: absolute;
    inset: auto 0% 0% auto;
    bottom: -69%;
  }
}

@media screen and (max-width: 768px) {
  .anim_img {
    max-width: 96rem;
    width: 100%;
    margin-bottom: -25%;
  }
}

/* gallery style css */
.fnt {
  font-size: 6rem;
  margin-bottom: 50px;
}
.wrapper {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 16px; /* Space between grid items */
  padding: 16px;
}

.gallery-item {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images cover the container without distortion */
}
.gallery-item {
  width: 100%;
  height: 284px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.about_img {
  display: none;
}
/* Responsive Design */
@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
  .about_image2 {
    display: none;
  }
  .about_img {
    display: block;
  }
  .fnt {
    font-size: 4rem;
    margin-bottom: 50px;
  }
  .ttl {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.6;
    font-size: 3rem;
  }
  .header1_content {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 71px;
  }
  .h3,
  h3 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .gallery-container {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}
